*{
    font-size: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secOne{
    background-color: rgb(231, 81, 81);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}
.container{

max-width: 42rem;
padding: 3rem 0;
overflow: hidden;
width: 100%;

}
.container .maincard{
    
    display: flex;
        justify-content: space-evenly;
    width: 200%;
    transition: all 2s ease;
}
.maincard .cards{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    width: calc(100% / 2 - 10px);
    flex-wrap: wrap;
  
}
#inpt-2:checked~.maincard{
    margin-left: -100%;
}
.maincard .cards .card{
background-color: aliceblue;
border-radius: 1rem;
padding: 1.5rem;

width: calc(100% / 3 - 10px);
transition:  all .5s ease;
}
.maincard .cards .card:hover{
    transform: translateY(-.5rem);
}
/* cztery divy maja ten sam wymiar */
.cards
.card 
.conntent 
.imgConntent{
    background: greenyellow;

    border-radius: 50%;
    margin-bottom: 2rem;
    height: 10rem;
    width: 10rem;
}
.cards
.card 
.conntent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* wypelnenie ddivow obrazem  */
.card 
.conntent 
.imgConntent img{
    background: rgb(17, 33, 87);;;

border-radius: 50%;
border: .2rem solid chartreuse;
height: 100%;
object-fit: cover;
padding: .3rem;
width: 100%;
}

.card .conntent .details .name{
    font-size: 1rem;
    font-weight: bold;
}
.card .conntent .details .description{
font-size: .5rem;

}
.card .conntent .media-icons{
    display: flex;
}
.card .conntent .media-icons a{
    background:                 rgb(17, 33, 87);
    border-radius:              50%;
    border: 2px solid transparent;
    color:                       chartreuse;
    font-size: 1rem;
    line-height:                2rem;
    height:                     2rem;
    text-align:                 center;
    transition: all .4s ease;
    width:                      2rem;
 

}
.card .conntent .media-icons a:hover{
    background: rgba(255, 255, 255, 0);
    border-color: rgb(10, 255, 2);
    color: orangered;
}

.maincard{
 
    width: 100%;
}
/* Buttuon slider  */
.btnSlider{
    display: flex;
        justify-content: center;
    margin: 1rem;
}
.btnSlider label{
    background: rgb(255, 255, 255); 
    border-radius: 30%;
    height: .6rem;
    margin: 0 .2rem;
    width: .6rem;
    transition:all .3s ease;
}
.btnSlider label.active{
    width: 1.3rem;
   
}
#inpt-1:checked ~ .btnSlider label.lblSliderOne{
    width: 1.3rem;
    
  
}
#inpt-2:checked ~ .btnSlider label.lblSliderTwo{
    width: 1.3rem;
}
#inpt-2:checked ~ .btnSlider label.lblSliderOne{
    width: .5rem;
}
#inpt-1:checked ~ .btnSlider label.lblSliderTwo{
    width: .5rem;
}
input[type="radio"]{
    display: none;
}


/* responsible */
@media (max-width:850px ){

    .maincard .cards .card{
        width: calc(100% / 2 - 10px);
        margin: 1rem 0 .5rem;
    }
}
@media (max-width:700px ){

    .maincard .cards .card{
  width: 100%;
    }
}